
.prod-card-v2 {
    --rating-icon-size: 28px;
    position: relative;
  }
  
  .prod-card-v2__img-link {
    display: block;
    position: relative;
    overflow: hidden;
  }
  .prod-card-v2__img-link img {
    display: block;
    width: 100%;
    transition: 0.3s;
  }
  .prod-card-v2__img-link img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
       object-fit: cover;
    opacity: 0;
  }
  .prod-card-v2__img-link:hover img:nth-child(1) {
    opacity: 0.85;
  }
  .prod-card-v2__img-link:hover img:nth-child(2) {
    opacity: 1;
  }
  
  .prod-card-v2__badge {
    position: absolute;
    z-index: 1;
    @apply top-3 lg:top-5;
    @apply right-3 lg:right-5;
    @apply bg-black/90;
    @apply py-1.5 lg:py-2 px-3 lg:px-5;
    @apply rounded;
    pointer-events: none;
    @apply text-sm lg:text-base;
    @apply text-white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .product-card-v2__title {
    @apply text-contrast-higher;
    text-decoration: none;
    font-weight: bold;
  }
  .product-card-v2__title:hover {
    text-decoration: underline;
  }
  
  .prod-card-v2__price {
    text-decoration: none;
  }
  
  .prod-card-v2__old-price {
    @apply text-contrast-medium;
    text-decoration: line-through;
  }
  .prod-card-v2__old-price::before {
    content: "original price";
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
  }